<div class="header-area ">
    <div class="header_top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-4 col-md-4 d-none d-md-block">
                    
                </div>
                <div class="col-xl-4 col-md-4">
                </div>
                <div class="col-xl-4 col-md-4 d-none d-md-block"routerLinkActive ="active">
                    <div class="login_resiter">
                        <p><a routerLink ="/auth/login">login</a> | <a routerLink ="/auth/registre">Registre</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sticky-header" class="main-header-area white-bg"routerLinkActive ="active">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-7 col-lg-7">
                    <div class="main-menu  d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <li><a class="active" routerLink="/home">Home</a></li>
                                <li><a routerLink ="/add-article">Add article</a></li>
                                <li><a routerLink ="/list-article">My article</a></li>
                                
                                    
                               
                                <li><a routerLink ="/profil">Profil</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
               
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
            <div class="search_input" id="search_input_box">
                    <div class="container ">
                       
                    </div>
                </div>
        </div>
    </div>
</div>